html{
  background-color: #808080;
}
p{
  background-color: #A9A9A9;
  font-family:  Arial; 
  text-align: left;
}
a{
  text-align: center
}
nav {
  background-color: #FFEE00;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}
container {
  display: flex;
}
